{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
 <form method="POST" action="">
  {{form.hidden_tag()}}
  <fieldset class="form-group">
   <legend class="border-bottom mb-4">Checkout</legend>

   <div class="form-group">
    {{form.name.label(class='form-control-label')}}

    {% if form.name.errors %}
    {{form.name(class='form-control form-control-lg is-invalid')}}
    <div class="invalid-feedback">
     {% for error in form.name.errors %}
     <span> {{error}}</span>
     {% endfor %}
    </div>
    {% else %}
    {{form.name(class='form-control form-control-lg')}}
    {% endif %}
   </div>

   <div class="form-group">
    {{form.email.label(class='form-control-label')}}

    {% if form.email.errors %}
    {{form.email(class='form-control form-control-lg is-invalid')}}
    <div class="invalid-feedback">
     {% for error in form.email.errors %}
     <span> {{error}}</span>
     {% endfor %}
    </div>
    {% else %}
    {{form.email(class='form-control form-control-lg')}}
    {% endif %}
   </div>

   <div class="form-group">
    {{form.card_num.label(class='form-control-label')}}

    {% if form.card_num.errors %}
    {{form.card_num(class='form-control form-control-lg is-invalid')}}
    <div class="invalid-feedback">
     {% for error in form.card_num.errors %}
     <span> {{error}}</span>
     {% endfor %}
    </div>
    {% else %}
    {{form.card_num(class='form-control form-control-lg')}}
    {% endif %}
   </div>

   <div class="form-group">
    {{form.exp_date.label(class='form-control-label')}}
    {% if form.exp_date.errors %}
    {{form.exp_date(class='form-control form-control-lg is-invalid')}}
    <div class="invalid-feedback">
     {% for error in form.exp_date.errors %}
     <span> {{error}}</span>
     {% endfor %}
    </div>
    {% else %}
    {{form.exp_date(class='form-control form-control-lg')}}
    {% endif %}
   </div>
  </fieldset>
  <div class="form-group">
   {{ form.submit(class="btn btn-outline-info") }}
  </div>
 </form>
</div>


{% endblock %}